# Entorno virtual
venv/
.env/
# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb_backup

# Datos temporales
*.csv~
*.tmp

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
